@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Icon font';
    src: url(fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG);
}

html, body {
    height: 100%;
}

.header {
    height: 100vh;
    background-image: url(images/header-bg.png);
    background-size: cover;
    position: relative;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__info {
        margin-top: 266px;
        margin-bottom: 48px;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: $text-color-white;
        text-align: center;
        letter-spacing: 3px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        color: $text-color-white;
        text-align: center;
        letter-spacing: 6px;
        margin-top: 7px;
        word-spacing: -4px;
    }
    
    &__search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 650px;
        width: 100%;
        min-height: 60px;
        box-sizing: border-box;
    }

    .header-search-bar::placeholder {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
    } 

    &-search-bar {
        max-width: 500px;
        width: 100%;
        min-height: 60px;
        background-color: $text-color-white;
        border: none;
    }

    &-search-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        width: 100%;
        min-height: 60px;
        background-color: #5474FD;
        border: 2px solid $text-color-white;
        cursor: pointer;
        transition: background 0.5s ease;
    }

    &-search-button:active {
        opacity: 0.9;
    }

    &-search-button:hover {
        background-color: rgb(111, 133, 233); 
    }

    &-search-button:focus {
        background-color: rgb(111, 133, 233); 
    }

    &-search-button__text {
        color: $text-color-white;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 18px;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        max-width: 120px;
        width: 100%;
    }

    &-scroll {
        margin: 0 auto;
        margin-top: 121px;

        &__link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__text {
        width: 100px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #E7ECF0;
        letter-spacing: 2px;
        }

        &__img {
        width: 15px;
        height: 8px;
        margin-top: 12px;
        }
    }

    &-scroll:hover {
        transition: 0.5s ease;
        border: 1px solid #0e38f1;
        border-radius: 50px;
    }

    &-search-button__img {
        margin-left: 14px;
    }

    &-nav {
        min-height: 80px;
        background-color: #5474FD;
        background-size: cover;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &-container {
            max-width: 1110px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        &__title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: $text-color-white;
            letter-spacing: 1.1px;
        }

        &__list {
            color: $text-color-white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 525px;
            width: 100%;

            &-item {
                font-family: 'Aleo', serif;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
                transition: 0.5s ease;
            }

            &-item:hover {
                padding-top: 20px;
                transition: 0.5s ease;
            }
        }
    }
}

.section-choose {
    min-height: 685px;
    background-image: url(images/choose-bg.png);
    background-size: cover;
    
    &__container {
        max-width: 1110px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    &__info {
        max-width: 540px;
        width: 100%;
    }

    .section-choose-info__title {
        color: $text-color-white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        padding-top: 203px;
        margin-bottom: 54px;
        width: 100%;
    }

    .section-choose-info__text {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        width: 100%;
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        background-color: #5474FD;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        margin-top: 45px;
        transition: background 0.5s ease;
    }

    &__link:hover {
        background-color: #5A6FB5;
    }

    &__link:focus {
        background-color: #5A6FB5;
    }

    &__images {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        width: 100%;

        &-first {
            width: 350px;
            height: 220px;
            margin-top: 120px;
            margin-left: 65px;
            margin-bottom: 5px;
        }

        &-second {
            width: 350px;
            height: 220px;
            margin-left: 190px;
        }
    }
}

.section-works {
    min-height: 337px;
    background-color: #333333;
    background-size: cover;

    &-container {
        max-width: 1110px;
        width: 100%;
        min-height: 337px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
    }

    &__elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        width: 100%;
        min-height: 90px;
        z-index: 2;
    }

    &__img {
        z-index: 2;
        background-color: #333333;
        margin-bottom: 28px;
        padding: 0 10px;
    }

    &__text {
        color: $text-color-white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__lines {
        max-width: 774px;
        width: 100%;
        max-height: 96px;
        height: 100%;
        position: absolute;
        left: 163px;
        top: 55px;
        z-index: 1;
    }

}

.section-spain-first {
    min-height: 700px;
    background-image: url(images/spain-1.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    &__info {
        max-width: 540px;
        width: 100%;
        max-height: 371px;
        background-color: #222021;
        opacity: 0.9;
        margin-top: 229px;
    }

    &__title-first {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 50px;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__title-second {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 31px;
        letter-spacing: -1px;
        word-spacing: 0.5px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 21px;
        line-height: 26px;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 43px;
        background-image: url(images/spain-button.png);
        background-repeat: no-repeat;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
        transition: background 0.5s ease;
    }

    &__link:hover {
        background-image: none;
        background-color: #5A6FB5;
    }

    &__link:focus {
        background-image: none;
        background-color: #5A6FB5;
    }

}

.section-spain-second {
    min-height: 700px;
    background-image: url(images/spain-2.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
    }

    &__info {
        max-width: 540px;
        width: 100%;
        max-height: 371px;
        background-color: #222021;
        opacity: 0.9;
        margin-top: 229px;
        margin-left: 570px;
    }

    &__title-first {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 50px;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__title-second {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 31px;
        letter-spacing: -1px;
        word-spacing: 0.5px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 21px;
        line-height: 26px;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 43px;
        background-image: url(images/spain-button.png);
        background-repeat: no-repeat;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
        transition: background 0.5s ease;
    }

    &__link:hover {
        background-image: none;
        background-color: #5A6FB5;
    }

    &__link:focus {
        background-image: none;
        background-color: #5A6FB5;
    }
}

.section-testimonial {
    min-height: 731px;
    background-image: url(images/testimonial-bg.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 731px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__title {
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 118px;
        margin-bottom: 93px;
        color: $text-color-white;
        letter-spacing: -0.5px;
        word-spacing: 0px;
    }

    &__info {
        display: flex;
        margin: 0 auto;
        max-width: 1110px;
        width: 100%;
        min-height: 284px;
    }

    &-review {
        max-width: 665px;
        width: 100%;
        background-color: #333333;
        padding-left: 60px;
        padding-top: 50px;
        position: relative;
    }

    &-review__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $text-color-white;
        letter-spacing: -0.5px;
        word-spacing: -1px;
    }

    &-review__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        max-width: 551px;
        line-height: 26px;
        font-weight: 400;
        color: $text-color-white;
        padding-top: 41px;
        text-indent: 28px;
        word-spacing: -1.1px;
    }

    .fa-quote-left {
        color: #5A6FB5;
        position: absolute;
        top: 101px;
    }
}

.footer {
    min-height: 268px;
    background-color: #232323;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1110px;
        padding-top: 121px;
        margin: 0 auto;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: $text-color-white;
        letter-spacing: 2.5px;
        margin-bottom: 11px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: $text-color-white;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
    }

    &__images {
        display: flex;
        max-width: 165px;
        width: 100%;
        justify-content: space-between;
        color: $text-color-white;
    }

    .fa-facebook {
        cursor: pointer;
    }

    .fa-facebook:hover {
        transition: 0.5s ease;
        color: #1236D3;
    }

    .fa-twitter {
        cursor: pointer;
    }

    .fa-twitter:hover {
        transition: 0.5s ease;
        color: #1236D3;
    }

    .fa-linkedin {
        color: #5A6FB5;
        cursor: pointer;
    }

    .fa-linkedin:hover {
        transition: 0.5s ease;
        color: #1236D3;
    }

    .fa-youtube-play {
        cursor: pointer;
    }

    .fa-youtube-play:hover {
        transition: 0.5s ease;
        color: #1236D3;
    }

    .fa-pinterest {
        cursor: pointer;
    }

    .fa-pinterest:hover {
        transition: 0.5s ease;
        color: #1236D3;
    }
}

@media screen and (max-width:1180px) {
    .section-choose {
        padding: 0 10px;
    }
}

@media screen and (max-width:1155px) {
    .header {
        &-nav-container {
            padding-left: 10px;
        }

        &-nav {
            padding-right: 10px;
        }
    }
    .section-choose {
        .section-choose-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section-choose-info__title { 
            text-align: center;
            padding-top: 120px;
        }

        .section-choose-info__text {
            text-align: center;
        }

        .section-choose__container {
            justify-content: flex-start;
        }

        .section-choose__images-first {
            margin-left: 95px;
        }

        .section-choose__images-second {
            margin-left: 95px;
        }
    }
}

@media screen and (max-width:1129px) {
    .section-works__lines {
        display: none;
    }
    .section-spain-first {
        .section-spain-first__container {
            max-width: 1110px;
            width: 100%;
            min-height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
        }
        .section-spain-first__info {
            margin-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        .section-spain-first__title-first {
            margin-left: 0px;
            padding: 0 10px;  
        }
        .section-spain-first__title-second {
            margin-left: 0px;
            padding: 0 10px;  
        }
        .section-spain-first__text {
            margin-left: 0px;
            padding: 0 10px;
        }
        .section-spain-first__link {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .section-spain-second {
        .section-spain-second__container {
            max-width: 1110px;
            width: 100%;
            min-height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
        }
        .section-spain-second__info {
            margin-top: 20px;
            padding-bottom: 20px;
            margin-left: 0;
            text-align: center;
        }
        .section-spain-second__title-first {
            margin-left: 0px;
            padding: 0 10px;  
        }
        .section-spain-second__title-second {
            margin-left: 0px;
            padding: 0 10px;  
        }
        .section-spain-second__text {
            margin-left: 0px;
            padding: 0 10px;
        }
        .section-spain-second__link {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width:992px){
    .header__scroll {
        display: none;
    }

    .section-choose {
        max-height: 685px;
        min-height: 0;
        padding-bottom: 60px;

        .section-choose-info__title { 
            padding-top: 60px;
        }
        

        .section-choose__images-first {
            margin-top: 60px;
            margin-left: 45px;
        }

        .section-choose__images-second {
            margin-left: 45px;
        }
    }
}

@media screen and (max-width:920px){
    .section-testimonial {
        .section-testimonial__info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .section-testimonial__img {
        max-width: 665px;
        width: 100%;
        max-height: 424px;
        height: 100%;
    }
    .section-testimonial-review {
        padding-bottom: 50px;
        padding-right: 60px;
    }
    .section-testimonial-review__title {
        text-align: center;
    }
    .section-testimonial-review__text {
        text-align: justify;
    }
}

@media screen and (max-width:770px) {
    .section-works-container {
        max-width: 546px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:750px) {
    .header {
        &-nav-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .header-nav__title {
        margin-top: 10px;
    }

    .header-nav__list-item {
        margin-top: 10px;
    }

    .header-nav__list-item {
        padding: 0 10px;
    }

    .header-nav__list-item:hover {
        padding-top: 10px;
    }
    .section-choose {

        .section-choose__info {
           margin: 0 auto;
        }
        
        .section-choose__container {
            flex-direction: column;
        }

        .section-choose-info__title { 
            padding-top: 60px;
        }
        
        .section-choose__images {
            flex-direction: row;
            justify-content: space-between;
            max-width: 1110px;
            width: 100%;
            margin-top: 40px;
        }
        
        .section-choose__images-first {
            margin-top: 0px;
            margin-left: 0px;
        }

        .section-choose__images-second {
            margin-left: 0px;
        }
    }
}

@media screen and (max-width:730px){
    .section-choose {
        max-height: 10000px;

        .section-choose__images {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 700px){
    .header__info {
        margin-top: 133px;
    }

    .header__search-bar {
        padding: 0 15px;
    }
}

@media screen and (max-width:600px){
    .section-testimonial__title {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .footer {
        min-height: 100px;
    }

    .footer__container {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 530px){
    .header-nav__list {
        max-width: 260px;
        flex-wrap: wrap;

        &-item:hover {
            padding-top: 0px;
            color: #333333;
        }
    }
}

@media screen and (max-width:470px) {
    .section-testimonial-review {
        padding: 40px;
    }
}

@media screen and (max-width:440px){
    .header-search-bar::placeholder {
        opacity: 0;
    }
}

@media screen and (max-width:370px){
    .header__title {
        font-size: 36px;
    }

    .header__text {
        font-size: 16px;
    }

    .section-choose {
        .section-choose__images {
            .section-choose__images-first {
                max-width: 280px;
                width: 100%;
                max-height: 176px;
                height: 100%;
            }

            .section-choose__images-second {
                max-width: 280px;
                width: 100%;
                max-height: 176px;
                height: 100%;
            }
        }
    }

    .section-testimonial-review {
        padding: 20px;
    }
}
