@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Icon font';
    src: url(fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG);
}

html, body {
    height: 100%;
}

.header {
    height: 100vh;
    background-image: url(images/header-bg.png);
    background-size: cover;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__info {
        margin-top: 266px;
        margin-bottom: 48px;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: $text-color-white;
        text-align: center;
        letter-spacing: 3px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        color: $text-color-white;
        text-align: center;
        letter-spacing: 6px;
        margin-top: 7px;
        word-spacing: -4px;
    }
    

    &__search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 650px;
        width: 100%;
        min-height: 60px;
    }

    .header-search-bar::placeholder {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
    } 

    &-search-bar {
        max-width: 500px;
        width: 100%;
        min-height: 60px;
        background-color: $text-color-white;
        border: none;
    }

    &-search-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        width: 100%;
        min-height: 60px;
        background-color: #5474FD;
        border: 2px solid $text-color-white;
        cursor: pointer;
    }

    &-search-button:active {
        opacity: 0.9;
    }

    &-search-button__text {
        color: $text-color-white;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 18px;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 33px;
        max-width: 93px;
        width: 100%;
    }

    &-scroll {
        margin: 0 auto;
        margin-top: 121px;

        &__link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__text {
        width: 100px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #E7ECF0;
        letter-spacing: 2px;
        }

        &__img {
        width: 15px;
        height: 8px;
        margin-top: 12px;
        }
    }

    &-search-button__img {
        margin-left: 14px;
    }

    &-nav-container {
        max-width: 1110px;
        width: 100%;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5474FD;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;

        &__title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: $text-color-white;
            letter-spacing: 1.1px;
        }

        &__list {
            color: $text-color-white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 525px;
            width: 100%;

            &-item {
                font-family: 'Aleo', serif;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
}

.section-choose {
    min-height: 685px;
    background-image: url(images/choose-bg.png);
    background-size: cover;
    
    &__container {
        max-width: 1110px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    

    &__info {
        max-width: 540px;
        width: 100%;

        .section-choose-info__title {
            color: $text-color-white;
            font-family: 'Aleo', serif;
            font-size: 36px;
            font-weight: 400;
            padding-top: 203px;
            margin-bottom: 54px;
        }

        .section-choose-info__text {
            color: $text-color-white;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            word-spacing: 0.5px;
            letter-spacing: 0.5px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        background-color: #5474FD;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        margin-top: 45px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        width: 100%;

        &-first {
            width: 350px;
            height: 220px;
            margin-top: 120px;
            margin-left: 65px;
            margin-bottom: 5px;
        }

        &-second {
            width: 350px;
            height: 220px;
            margin-left: 190px;
        }
    }
}

.section-works {
    min-height: 337px;
    background-color: #333333;
    background-size: cover;

    &-container {
        max-width: 1110px;
        width: 100%;
        min-height: 337px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
    }

    &__elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        width: 100%;
        min-height: 90px;
        z-index: 2;
    }

    &__img {
        z-index: 2;
        background-color: #333333;
        margin-bottom: 28px;
        padding: 0 10px;
    }

    &__text {
        color: $text-color-white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__lines {
        max-width: 774px;
        width: 100%;
        max-height: 96px;
        height: 100%;
        position: absolute;
        left: 163px;
        top: 55px;
        z-index: 1;
    }

}

.section-spain-first {
    min-height: 700px;
    background-image: url(images/spain-1.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
    }

    &__info {
        max-width: 540px;
        width: 100%;
        max-height: 371px;
        background-color: #222021;
        opacity: 0.9;
        margin-top: 229px;
    }

    &__title-first {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 50px;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__title-second {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 31px;
        letter-spacing: -1px;
        word-spacing: 0.5px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 21px;
        line-height: 26px;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 43px;
        background-image: url(images/spain-button.png);
        background-repeat: no-repeat;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
    }

}

.section-spain-second {
    min-height: 700px;
    background-image: url(images/spain-2.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
    }

    &__info {
        max-width: 540px;
        width: 100%;
        max-height: 371px;
        background-color: #222021;
        opacity: 0.9;
        margin-top: 229px;
        margin-left: 570px;
    }

    &__title-first {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 50px;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    &__title-second {
        color: $text-color-white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 31px;
        letter-spacing: -1px;
        word-spacing: 0.5px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 21px;
        line-height: 26px;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color-white;
        margin-left: 30px;
        margin-top: 43px;
        background-image: url(images/spain-button.png);
        background-repeat: no-repeat;
        max-width: 225px;
        width: 100%;
        min-height: 60px;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
    }
}

.section-testimonial {
    min-height: 731px;
    background-image: url(images/testimonial-bg.png);
    background-size: cover;

    &__container {
        max-width: 1110px;
        width: 100%;
        min-height: 731px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__title {
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 118px;
        margin-bottom: 93px;
        color: $text-color-white;
        letter-spacing: -0.5px;
        word-spacing: 0px;
    }

    &__info {
        display: flex;
        margin: 0 auto;
        max-width: 1110px;
        width: 100%;
        min-height: 284px;
    }

    &-review {
        max-width: 665px;
        width: 100%;
        background-color: #333333;
        padding-left: 60px;
        padding-top: 50px;
        position: relative;
    }

    &-review__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $text-color-white;
        letter-spacing: -0.5px;
        word-spacing: -1px;
    }

    &-review__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        max-width: 551px;
        line-height: 26px;
        font-weight: 400;
        color: $text-color-white;
        padding-top: 41px;
        text-indent: 28px;
        word-spacing: -1.1px;
    }

    .fa-quote-left {
        color: #5A6FB5;
        position: absolute;
        top: 101px;
    }
}

.footer {
    min-height: 348px;
    background-color: #232323;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1110px;
        padding-top: 121px;
        margin: 0 auto;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: $text-color-white;
        letter-spacing: 2.5px;
        margin-bottom: 11px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: $text-color-white;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
    }

    &__images {
        display: flex;
        max-width: 165px;
        width: 100%;
        justify-content: space-between;
        color: $text-color-white;
    }

    .fa-linkedin {
        color: #5A6FB5;
    }
}